* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Public Sans', sans-serif;
    text-align: center;
    color: hsl(233, 8%, 62%);
    overflow-x: hidden;
}

header {
    background-color: hsl(0, 0%, 100%);
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 99;
    align-items: center;
}

.main-nav {
    display: flex;
}

.main-nav li {
    position: relative;
}

.main-nav li a:after {
    content: "";
    height: 3px;
    background-color: hsl(136, 65%, 51%);
    position: absolute;
    width: 0;
    bottom: -2.2rem;
    left: 0;
    transition: 0.4s;
}

.main-nav li a:hover:after {
    width: 100%;
}

.side-nav {
    position: absolute;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 5;
    background-color: hsl(0, 0%, 100%);
    width: 80%;
    padding-block: 2rem;
    border-radius: 5px;
}

.side-nav ul li {
    padding-bottom: 1rem;
    color: hsl(233, 26%, 24%);
}

.side-nav,
.menu,
.menu.inactive {
    display: none;
}

.menu,
.close {
    cursor: pointer;
    margin-left: auto;
}

.close {
    display: none;
}

.close.active {
    display: block;
}

.side-nav.active {
    display: block;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: black;
    opacity: 0.7;
}

ul li a:hover {
    opacity: 1;
}

.main-nav ul {
    display: flex;
    gap: 1rem;
}

.nav-btn {
    padding: 0.7rem 1.5rem;
}

.nav-btn,
.home-btn,
.footer-btn {
    background-image: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    color: hsl(0, 0%, 100%);
    border-radius: 15rem;
    border: none;
    cursor: pointer;
}

.home-btn {
    padding: 1rem 2.5rem;
}

.overlay {
    display: none;
}

.overlay.active {
    display: block;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

.home-images {
    position: relative;
}

.home-images,
.home-text {
    flex: 250px;
}

.home-background-mobile,
.home-background-desktop {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
}

.home-background-mobile {
    display: block;
    left: 0;
    top: -2rem;
}

.home-background-desktop {
    display: none;
    right: 0;
}

.home-text {
    padding: 2rem;
}

.phones {
    width: 100%;
    position: relative;
    z-index: 1;
    top: -6rem;
}

h1 {
    font-size: 2.5rem;

}

p {
    padding-block: 1.5rem;
    line-height: 1.5;
    font-size: 1.125rem;
}

h1,
h3,
h2 {
    color: hsl(233, 26%, 24%);
    font-weight: 400;
}

h2 {
    font-size: 2rem;
}

h3 {
    padding-top: 2rem;
}

.middle {
    padding: 3rem 2rem;
    background-color: hsl(220, 16%, 96%);
}

.middle p {
    color: hsl(233, 8%, 62%);
}

.card {
    margin-top: 2rem;
    width: 100%;
}

.card img {
    width: 100%;
}

.card-text {
    padding: 2rem;
}

.bottom {
    padding: 4rem 2rem;
}

.home,
.bottom {
    background-color: hsl(0, 0%, 98%);
}

.bottom .card {
    text-align: left;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
}

.bottom .card img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 180px;
    object-fit: cover;
}

h5 {
    font-weight: 400;
}

.bottom h3 {
    font-size: 1.5rem;
    padding-top: 1rem;
}

.bottom h3:hover {
    color: hsl(136, 65%, 51%);
}

.bottom p {
    padding-top: 1rem;
}

.ellipse {
    height: 2px;
    width: 2.7px;
    border-radius: 50%;
    background-color: hsl(233, 8%, 62%);
    display: inline-block;
    margin-right: 1.5px;
}

footer {
    display: flex;
    background-color: hsl(233, 26%, 24%);
    color: hsl(0, 0%, 98%);
    padding: 2rem 0;
    font-weight: 100;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: hsl(0, 0%, 98%);
    font-weight: 100;
    opacity: 0.9;
    cursor: pointer;
}

.icons {
    padding-block: 2rem;
}

.icons svg {
    margin-right: 1rem;
}

footer .left {
    display: flex;
    align-items: center;
}

footer p {
    font-size: 1rem;
    opacity: 0.5;
    padding: 0;
}

footer h4 {
    padding-block: 0.5rem;
}

.footer-btn {
    margin-block: 1.5rem;
    padding: 0.7rem 2rem;
}

footer a:hover {
    color: hsl(136, 65%, 51%);
}

footer .icon {
    cursor: pointer;
    margin-top: 1rem;
}

footer svg:hover path {
    fill: hsl(136, 65%, 51%);
}

.home-btn:hover,
.nav-btn:hover,
.footer-btn:hover {
    opacity: 0.5;
}


@media screen and (max-width: 767px) {

    .main-nav,
    .nav-btn {
        display: none;
    }

    .menu {
        display: block;
    }

    .phones {
        top: 0;
    }

    footer,
    footer .left {
        display: block;
    }

    footer, .footer-btn-container {
        text-align: center !important;
    }
}

@media screen and (min-width: 767px) {
    .home-text {
        padding: 8rem 0 8rem 8rem;
    }

}

@media screen and (max-width: 600px) {
    header {
        padding: 1.5rem;
    }

    .home-text {
        padding-top: 0 !important;
    }
}

@media screen and (min-width: 550px) {
    .home {
        flex-direction: row-reverse;
    }
}

@media screen and (min-width:600px) {
    .home-background-mobile {
        display: none;
    }

    .home-background-desktop {
        display: block;
        right: 0;
    }

    .phones {
        position: absolute;
        left: 0;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 2rem;
    }

    body {
        text-align: left;
    }

    .middle,
    .bottom,
    footer {
        padding: 3rem 5rem;
    }

    footer .left {
        gap: 2rem;
    }

    .bottom h2 {
        padding-bottom: 1rem;
    }

}

@media screen and (max-width: 969px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 969px) {
    footer .left {
        gap: 6rem;
    }
    
    .middle-text {
        padding-right: 30rem;
    }
}

@media screen and (min-width: 500px) {
    .home {
        gap: 3rem;
    }
}

@media screen and (min-width: 1100px) {
    footer {
        padding: 2rem 6rem;
    }
}

@media screen and (max-width: 900px) {
   
    footer {
        gap: 1rem;
    }

    .icons {
        padding-block: 1em;
    }

    .footer-btn-container {
        text-align: left;
    }
}

@media screen and (min-width: 900px) {
    .footer-btn-container {
        text-align: end;
    }
}